@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgb(218, 238, 255);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    min-height: max-content;
    width: 80vw;
    max-width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    padding-block: 20px
}
#res{
    font-size: 2rem;
}
#img{
    width: 150px;
}